/*
* Version: MPL 1.1/GPL 2.0/LGPL 2.1
*
* "The contents of this file are subject to the Mozilla Public License
* Version 1.1 (the "License"); you may not use this file except in
* compliance with the License. You may obtain a copy of the License at
* http://www.mozilla.org/MPL/
*
* Software distributed under the License is distributed on an "AS IS"
* basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
* License for the specific language governing rights and limitations under
* the License.
*
* The Original Code is ICEfaces 1.5 open source software code, released
* November 5, 2006. The Initial Developer of the Original Code is ICEsoft
* Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
* 2004-2006 ICEsoft Technologies Canada, Corp. All Rights Reserved.
*
* Contributor(s): _____________________.
*
* Alternatively, the contents of this file may be used under the terms of
* the GNU Lesser General Public License Version 2.1 or later (the "LGPL"
* License), in which case the provisions of the LGPL License are
* applicable instead of those above. If you wish to allow use of your
* version of this file only under the terms of the LGPL License and not to
* allow others to use your version of this file under the MPL, indicate
* your decision by deleting the provisions above and replace them with
* the notice and other provisions required by the LGPL License. If you do
* not delete the provisions above, a recipient may use your version of
* this file under either the MPL or the LGPL License."
*
*/

.backgroundTop {
    background: none;
}

.backgroundBottom {
    padding: 20px 0px 40px 0px;
    background: url( '../images/bgslice_bot.jpg' ) repeat-x bottom left;
}

.loginBox {
    width: 480px;
}

.loginLogo{
    padding-bottom: 10px;
}

.loginPanelGrid{
    height: 100%;
    border: none; 
    padding: 0px; 
    padding-bottom: 0px; 
}

.loginFirstColumn {
	padding-left: 0px;
    width: 25%;
}

.loginSecondColumn {
    width: 45%;
}

.loginThirdColumn {
    text-align: left;
    width: 30%;
}

.loginFourthColumn {
	padding-left: 0px;
    width: 0%;
}

.firstNameLabel{
    padding-right: 38px;    
}

.passwordLabel{
    padding-right: 16px;    
}

.loginButtons {
	text-align: left;
    margin-top: 20px;  
}

.presentationMenu{
	width: 138px;
}

.loginInput {
    width: 100px;
    padding: 0px;
}